<div class="main">
    <div class="left-content">
        <%= image_tag 'band (1)', class:'band-photo' %>
        <%= image_tag 'band (2)', class:'band-photo' %>
        <%= image_tag 'band (3)', class:'band-photo' %>
        <%= image_tag 'band (4)', class:'band-photo' %>
        <%= image_tag 'band (5)', class:'band-photo' %>
        <%= image_tag 'band (6)', class:'band-photo' %>
        <%= image_tag 'band (7)', class:'band-photo' %>
        <%= image_tag 'band (8)', class:'band-photo' %>
    </div>
    <div class="center-content">
        <div class="main-photo">
        <%= image_tag 'title.jpg', class:'photo' %>
        </div>
        <div class="under-photo">
        <h1>このサイトについて</h1>
        <font size=2px class="fixner">　[ky]らいむ<br>　最終更新　９/１０<br></font>
        <font size=3px class="intruduce-text">　　　このサイトは２０２２年の甲陽学院音楽と展覧の会における<br>　　甲陽スプラ同好会の公式ホームページです。<br>　　歴代スプラシリーズについての情報をお届けします。 </font>    
        <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/koyoikakenn2022?ref_src=twsrc%5Etfw">Tweets by koyoikakenn2022</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     </div>
     </div>
    </div>
    <div class="right-content">
        <div class="youtube">
            <h2>公式PV</h2>
        <iframe width="410" height="267" src="https://www.youtube.com/embed/6gRwhA2hpn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>    