 <div class ="member-header">
    <p class="mozi">メンバー紹介</p>
 </div>
<div class= "edge">
 <div class ="member-main">
  <div class= "member-box">
  <%= image_tag 'int (1)', class:'member-photo' %>
  <%= image_tag 'int (2)', class:'member-photo' %>
  <%= image_tag 'int (3)', class:'member-photo' %>
 </div>
 </div>
 <div class ="member-main">
  <div class= "member-box">
  <%= image_tag 'int (4)', class:'member-photo' %>
  <%= image_tag 'int (5)', class:'member-photo' %>
  <%= image_tag 'int (6)', class:'member-photo' %>
 </div>
</div>
<div class ="member-main">
  <div class= "member-box">
  <%= image_tag 'int (7)', class:'member-photo' %>
  <%= image_tag 'int (8)', class:'member-photo' %>
  <%= image_tag 'int (9)', class:'member-photo' %>
 </div>
</div>
<div class ="member-main">
  <div class= "member-box">
  <%= image_tag 'int (10)', class:'member-photo' %>
  <%= image_tag 'int (11)', class:'member-photo' %>
  <%= image_tag 'int (12)', class:'member-photo' %>
 </div>
</div>
</div>