<div class= "spla-2-fes">
<%= image_tag '02 (1).jpg', class:'fes-photo' %>
<%= image_tag '02 (2).jpg', class:'fes-photo' %>
<%= image_tag '02 (3).jpg', class:'fes-photo' %>
<%= image_tag '02 (4).jpg', class:'fes-photo' %>
<%= image_tag '02 (5).jpg', class:'fes-photo' %>
<%= image_tag '02 (6).jpg', class:'fes-photo' %>
<%= image_tag '02 (7).jpg', class:'fes-photo' %>
<%= image_tag '02 (8).jpg', class:'fes-photo' %>
<%= image_tag '02 (9).jpg', class:'fes-photo' %>
<%= image_tag '02 (10).jpg', class:'fes-photo' %>
<%= image_tag '02 (11).jpg', class:'fes-photo' %>
<%= image_tag '02 (12).jpg', class:'fes-photo' %>
<%= image_tag '02 (13).jpg', class:'fes-photo' %>
<%= image_tag '02 (14).jpg', class:'fes-photo' %>
<%= image_tag '02 (15).jpg', class:'fes-photo' %>
<%= image_tag '02 (16).jpg', class:'fes-photo' %>
</div>