<div class ="rule-header">
    <p class="mozi">ルール説明</p>
 </div>
<div class="rule-main">
    <div class="regular">
        <div class="regular-photo">
         <%= image_tag 'regular.png', class:'regular-photo' %>   
        </div>
        <div class="regular-main">
            <h1 class="under-border">レギュラーマッチ</h1>
            <p>　スプラトゥーンの看板であるルールだ！三分間でどれだけステージステージを塗れるかで勝敗がきまるぞ！<br>これがなければスプラトゥーンはスプラトゥーンでないと言っても過言ではないだろう！</p>
        </div>
    </div>
    
    <div class="gati">
        
        <div class= "gati-main">
           <div class= "gati-photo">
            <%= image_tag 'show.png', class:'gati-photo' %>
           </div>
           <div class= "gati-main-detail">
               <h1 class="under-border">ガチマッチ</h1>
               <p>　ナワバリバトルと違い時間制限が五分で、その五分の間に決められたルールのカウント（ポイントのようなもの）をどれだけ進められるかというルールだ！<br>時間切れの時は、カウントがより０に近いチームの勝利となるぞ！<br>
               ガチマッチにはウデマエというものがあり、プレイヤーたちは基本自分のウデマエをあげるために日々ガチマッチをしているんだ！<br>Xまでいくとウデマエはいわゆるレート制になり、上位の人はランキングに掲載されるぞ!
               </p>
           </div>
        </div>
        
        <div class= "gati-eria">
            <div class= "gati-photo">
            <%= image_tag 'eria.jpg', class:'gati-photo' %>
            </div>
            <div class= "gati-main-detail">
                <h1 class="under-border">ガチエリア</h1>
                <p>　スプラトゥーンの「塗るFPS」という特徴を最大限活かしたルールだ！各ステージで指定された場所を塗るとカウントが進むぞ！<br>
                基本はたくさん塗れる武器が強いが、相手チームの数を減らせる武器も強いぞ！<br></p>
                <h3>要するに味方が強ければ勝てる、味方ゲーである</h3>
            </div>
        </div>
        
        <div class= "gati-eria">
            <div class= "gati-photo">
            <%= image_tag 'yagura.png', class:'gati-photo' %>
            </div>
            <div class= "gati-eria-detail">
                <h1 class="under-border">ガチヤグラ</h1>
                <p>　ヤグラと呼ばれる決められたルートを移動する乗り物（プレイヤーが乗ると移動する）に乗り、相手のコートのゴールまで運ぶぞ！<br>
                途中のカンモンと呼ばれる地帯では数秒ヤグラが止まるので、そこで持ちこたえるのがポイントだ！基本後衛ブキがヤグラに乗るのがいいとされているが必ずしもそうとは限らない。</p>
                <h3>つまり味方が強ければ勝てる、味方ゲーである</h3>
            </div>
        </div>
        
         <div class= "gati-eria">
            <div class= "gati-photo">
            <%= image_tag 'hoko.png', class:'gati-photo' %>
            </div>
            <div class= "gati-eria-detail">
                <h1 class="under-border">ガチホコ</h1>
                <p>　ガチホコと呼ばれるブキが始め中央にあるので、それを使いながら相手のリスポーン地点までホコを運ぶルールだ！このルールでは、カウントがゴールにどれだけ近づいたかという基準で表されるぞ！<br>
                いかに相手のゴールまでホコを運ぶか、味方のゴールを守るかが重要なルールだ！<p>
                <h3>結局味方が強ければ勝てる、味方ゲーである</h3>    
            </div>
        </div>
        
        <div class= "gati-eria">
            <div class= "gati-photo">
            <%= image_tag 'asari.png', class:'gati-photo' %>
            </div>
            <div class= "gati-eria-detail">
                <h1 class="under-border">ガチアサリ</h1>
                <p>　マップ内の決められた場所に発生するアサリを一定数集めて作ったデカアサリを相手のゴールにシュートするぞ！<br>
                ゴールすると相手のゴールのバリアが解けて、普通のアサリも直接入れることができるようになるぞ！<br>
                ガチアサリは持っている味方の位置が表示されてしまうので、いかに相手のゴールに運ぶかが重要だ！</p>
                <h3>しかしどう頑張っても相手が強ければ負け、味方が強ければ勝てる味方ゲーである。</h3>
            </div>
        </div>
    </div>
    
    <div class="private">
        <div class="regular-photo">
         <%= image_tag 'prv.jpg', class:'regular-photo' %>   
        </div>
        <div class="regular-main">
            <h1 class="under-border">プライベートマッチ</h1>
            <p>　「フレンド」のみと一緒に遊ぶことが可能だ！ステージやルール、チーム編成を自由に設定してバトルをすることができるぞ！<br>
            最大８人の対戦するプレイヤーとは別に、２人まで観戦することが可能だ！部屋には４桁のパスワードをつけることができるぞ！</p>
        </div>
    </div>
</div>